.search_page {
  width: 100%;
  text-align: center;
  margin-bottom: 15rem;

  .page-header {
    color: $color-primary;
    margin-bottom: 6rem;

    h1 {
      font-weight: 300;
    }
  }

  .entry-header {
    margin-bottom: 2rem;
    a,
    a:visited {
      text-decoration: none;
      color: $color-light-grey;
      background-color: $color-grey;
      border-radius: .6rem;
      padding: .3rem 3rem;
      transition: .3s;

      &:hover {
        background-color: $color-primary;
      }
    }
  }
  .entry-footer {
    margin-bottom: 5rem;
    a,
    a:visited {
      font-size: 1.4rem;
      text-decoration: none;
      color: $color-dark-grey;
      
      &:hover {
        text-decoration: underline;
      }

      .screen-reader-text {
        font-style: italic;
        color: $color-primary;
      }
    }
  }
}